:root {
    --Dark-Blue:  hsl(209, 23%, 22%);
    --Very-Dark-Blue:hsl(207, 26%, 17%);
    --Very-Dark-Blue-Light-Mode-Text: hsl(200, 15%, 8%);
    --Dark-Gray: hsl(0, 0%, 52%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White:hsl(0, 0%, 100%);
    --primary-font: 'Nunito Sans', sans-serif;
  }
nav{
    background-color: var(--Dark-Blue) ;
    color: #fff;
    display: flex;
    font-family: 'Nunito Sans', sans-serif;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 2rem;
    height: 10vh;
}
.theme{
    display: flex;
    align-items: center;
    gap: .7rem;
}
@media(min-width:992px){
    nav{
        padding: 2rem 5rem;
    }
    nav h3{
        font-size: 2rem;
    }
    nav p{
        font-size: 1.6rem;
    }
    .icons{
        font-size: 2rem;
    }
}